/* =============
    Header
============= */

header{
    display: grid;
    grid-template-columns: 0px auto 16px;
    grid-template-areas: "16px header auto";
    >div{
        grid-area: header;
    }
}